/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  /*background-color: white;*/
  background-image: url('/images/paper_bg.jpg');
  font: 14px 'lato', helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 120%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

dl {
	border: 1px dot #ccc;
	padding: 0.5em;
}

dt {
    float: left;
	clear: left;
	width: 100px;
	text-align: right;
	font-weight: bold;
	color: green;
}

dt:after {
	content: " :";
}

dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}

blockquote {
  background: rgba(250,250,250,0.5);
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: 'ubuntu_mono', Monaco, "Courier New", monospace;
    font-size: 90%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: left;
  width: 42em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
	font-size: 80%;
	/*margin-left: 2em;*/
  }
  .site .meta:before {
	content: url('/images/timeicon.png');
    vertical-align: -0.3em;
	margin-right: .5em;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 3px solid rgba(250,250,250,0.5);
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: .3em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
	/*background-color: #fdf6e3;*/
    padding: 0 .4em;
	line-height: 1.1em;
	overflow-x: auto;
	overflow-y: hidden;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
	background-color: #fdf6e3;
    font-family: "ubuntu_mono", Monaco, "Courier New", monospace;
    font-size: 14px;
    /*padding: 0 .1em;*/
  }

    #post pre code {
	  border: none;
	  background-color: transparent;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
